---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import TableOfContents from '../../components/TableOfContents/index.tsx';
import '../../styles/markdown.css';
import { contentContainerStyle, sectionContainerStyle } from './index.css';

export const getStaticPaths = async () => {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
};

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout>
  <section class={sectionContainerStyle}>
    <TableOfContents>
      <article id="markdown-container" class={contentContainerStyle}>
        <Content />
      </article>
    </TableOfContents>
  </section>
</Layout>
