---
import {containerStyle, footerSocialIconStyle} from './footer.css';
import Flex from '../../components/common/Flex';
import Txt from '../../components/common/Txt';
import Icon, {type IconKey} from '../../components/common/Icon/index.astro';
import {SOCIAL_GITHUB, SOCIAL_GMAIL, SOCIAL_LINKEDIN} from '../../constants';

const SOCIAL_LINK_ICONS_MAP: {icon: IconKey; link: string}[] = [
  {
    icon: 'mail',
    link: SOCIAL_GMAIL,
  },
  {
    icon: 'github',
    link: SOCIAL_GITHUB,
  },
  {
    icon: 'linkedIn',
    link: SOCIAL_LINKEDIN,
  },
];
---

<footer class={containerStyle}>
  <Flex align="center" justify="space-between">
    <Flex align="center" gap={10}>
      {
        SOCIAL_LINK_ICONS_MAP.map(({icon, link}) => (
          <a class={footerSocialIconStyle} href={link} target="_blank" rel="noopener noreferrer">
            <Icon name={icon} size={20} />
          </a>
        ))
      }
    </Flex>
    <Txt size="captionLarge" weight="base" family="light">
      © 2023 Ivan Lim Powered by
      <a href="https://astro.build" target="_blank" rel="noopener noreferrer"> Astro</a>
    </Txt>
  </Flex>
</footer>
